
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium.eot');
    src: url('../fonts/montserrat-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat-medium.woff') format('woff'),
         url('../fonts/montserrat-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold.eot');
    src: url('../fonts/playfairdisplay-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold.woff') format('woff'),
         url('../fonts/playfairdisplay-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular.eot');
    src: url('../fonts/playfairdisplay-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular.woff') format('woff'),
         url('../fonts/playfairdisplay-regular.ttf') format('truetype');
}