


// Colours
$grey-light:    #cccccc;
$grey:          #939393;

$yellow:        #f9b808;

$blue:          #6a7c92;
$blue-dark:     #31475e;

$white:         #fff;
$black:         #000;



// Fonts
$font-montserrat-bold: 'montserratbold';
$font-montserrat-medium: 'montserratmedium';
$font-montserrat: 'montserratregular';

$font-playfair-bold: 'playfair_displaybold';
$font-playfair: 'playfair_displayregular';

$font-roboto-reg: 'robotoregular';
$font-roboto-med: 'robotomedium';
$font-roboto-bold: 'robotobold';

$font-body: $font-roboto-reg;
$font-body-bold: $font-roboto-med;
$font-header: $font-roboto-bold;
$font-header-light: $font-roboto-reg;