


// Colours
$grey-light:    #cccccc;
$grey:          #666666;

$blue:          #88909F;
$blue-dark:     #122140;

$white:         #fff;
$black:         #000;



// Fonts
$font-montserrat-bold: 'montserratbold';
$font-montserrat-medium: 'montserratmedium';
$font-montserrat: 'montserratregular';

$font-playfair-bold: 'playfair_displaybold';
$font-playfair: 'playfair_displayregular';

$font-body: $font-montserrat-medium;
$font-body-bold: $font-montserrat-bold;
$font-header: $font-playfair-bold;
$font-header-light: $font-playfair;