html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* Breakpoints */
/* Grid breakpoints */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

nav, main, footer, header, div, p, span, ul, li {
  position: relative;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

.outlineHelper * {
  outline: 1px dotted rgba(186, 119, 119, 0.2);
}

html {
  background-color: #939393;
  color: #fff;
  font-family: "robotoregular";
}

@media screen and (min-width: 800px) {
  .mainColumn {
    width: 1000px;
    margin: auto;
  }
}

.mainNav::after {
  clear: both;
  content: "";
  display: block;
}

.mainNav li {
  float: left;
}

.mainNav a {
  display: block;
}

.heroHeading {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .heroHeading__bckgImg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/welcomeHero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
  }
}

.bodyCopy {
  padding: 40px 0;
}

.footer {
  text-align: center;
}
