html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* Breakpoints */
/* Grid breakpoints */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

nav, main, footer, header, div, p, span, ul, li {
  position: relative;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold.eot");
  src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium.eot");
  src: url("../fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype");
}

.outlineHelper * {
  outline: 1px dotted rgba(186, 119, 119, 0.2);
}

html {
  background-color: #fff;
  color: #6a7c92;
  font-family: "robotoregular";
}

body {
  line-height: 1.7em;
  width: 100%;
  height: 100%;
  word-break: break-word;
}

.noScroll {
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .headerColumn {
    width: 1000px;
    margin: auto;
  }
}

.mainColumn {
  padding: 0 14px;
}

@media screen and (min-width: 800px) {
  .mainColumn {
    width: 970px;
    margin: auto;
    padding: 0 15px;
  }
}

p {
  margin: 0 0 25px;
  font-size: 14.5px;
  line-height: 1.7em;
}

a {
  color: #31475e;
  font-family: "robotomedium";
}

a[href^="tel"] {
  text-decoration: none;
}

.heading--one {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .heading--one {
    font-size: 38px;
    line-height: 48px;
    padding: 0 40px;
  }
}

.heading--one span {
  font-family: "robotomedium";
  color: #f9b808;
}

.heading--one span:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #f9b808;
}

.heading--two {
  display: inline-block;
  position: relative;
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 23px;
  text-align: left;
  color: #f9b808;
}

@media screen and (min-width: 800px) {
  .heading--two {
    text-align: center;
    font-size: 30px;
  }
}

.heading--two:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 4px;
  background-color: #f9b808;
}

.heading--three,
.heading--three .anchorDestination {
  margin: 0 0 5px;
  font-family: "robotobold";
  font-size: 16px;
  line-height: 1.7em;
  text-transform: uppercase;
  color: #31475e;
}

@media screen and (min-width: 800px) {
  .heading--three,
  .heading--three .anchorDestination {
    font-size: 20px;
    line-height: 1.5em;
  }
}

.para--large {
  font-family: "robotobold";
  font-size: 16px;
  line-height: 1.7em;
  color: #31475e;
}

@media screen and (min-width: 800px) {
  .para--large {
    font-family: "robotobold";
    font-size: 20px;
    line-height: 1.5em;
  }
}

.para--largeQuote {
  margin: 60px 0;
  font-size: 20px;
  line-height: 25px;
  color: #31475e;
}

@media screen and (min-width: 800px) {
  .para--largeQuote {
    margin: 56px 0 62px;
    font-size: 32px;
    line-height: 38px;
  }
}

.para--largeQuote:before, .para--largeQuote:after {
  content: '"';
  display: inline-block;
  font-size: 55px;
  color: #f9b808;
  line-height: 0;
  top: 17px;
  position: relative;
}

@media screen and (min-width: 800px) {
  .para--largeQuote:before, .para--largeQuote:after {
    font-size: 55px;
  }
}

.para--largeQuote:before {
  left: -3px;
}

@media screen and (max-width: 800px) {
  .para--largeQuote:before {
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 85px;
  }
}

.para--largeQuote:after {
  left: 2px;
}

@media screen and (max-width: 800px) {
  .para--largeQuote:after {
    display: none;
  }
}

.para--medium {
  font-family: "robotobold";
  font-size: 16px;
  line-height: 1.7em;
  color: #31475e;
}

@media screen and (min-width: 800px) {
  .para--medium {
    font-size: 17px;
    line-height: 1.5em;
  }
}

.para--border {
  margin-bottom: 40px;
  padding: 30px 40px;
  border: 1px solid #31475e;
}

.text--phone {
  font-size: 32px;
  font-family: "robotomedium";
  color: #fff;
}

.text--email {
  font-size: 16px;
  font-family: "robotomedium";
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .text--email {
    font-size: 19px;
  }
}

.smallPara p {
  font-size: 12px;
}

.smallPara a {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.bulletList {
  margin: 0 0 20px 27px;
  list-style-type: disc;
}

@media screen and (min-width: 800px) {
  .bulletList {
    margin: 0 0 20px 40px;
  }
}

.bulletList.unindented {
  margin-left: 16px;
  color: #31475e;
}

.bulletList.unindented li {
  font-size: 14px;
}

li {
  padding: 0 0 10px 3px;
  font-size: 14px;
  line-height: 1.8em;
}

@media screen and (min-width: 800px) {
  li {
    font-size: 16px;
    line-height: 1.6em;
  }
}

.anchorList {
  margin: 0 0 15px;
}

.anchorList a {
  display: block;
}

@media screen and (min-width: 800px) {
  .anchorList a {
    width: 49%;
    display: inline-block;
  }
}

.col2 {
  margin: 0 0 20px;
}

@media screen and (min-width: 800px) {
  .col2 {
    float: left;
    width: 50%;
  }
}

.col3 {
  margin: 0 0 20px;
}

@media screen and (min-width: 800px) {
  .col3 {
    float: left;
    width: 33.3%;
  }
}

.columnBoxs {
  display: block;
}

@media screen and (min-width: 800px) {
  .columnBoxs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 800px) {
  .columnBoxs .col3 {
    margin: 0;
    padding: 20px;
    border: 1px solid #6a7c92;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }
  .columnBoxs .col3:nth-child(2) {
    margin: 0 20px;
  }
}

@media screen and (min-width: 800px) {
  .columnBoxs .heading--three {
    margin: 0 0 15px;
  }
}

.spacer {
  display: block;
  height: 60px;
}

hr {
  margin: 30px 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.ForbesLogo {
  background-image: url("../img/Refundable_Logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.mainNav {
  background-color: #000;
}

.mainNav::after {
  clear: both;
  content: "";
  display: block;
}

.mainNav .ForbesLogo {
  display: block;
  float: left;
  margin: 0 0 0 14px;
  width: 123px;
  height: 70px;
  text-indent: -999999px;
}

@media screen and (min-width: 800px) {
  .mainNav .ForbesLogo {
    margin: 12px 0 0 28px;
    width: 170px;
    height: 44px;
  }
}

.mainNav .showMobileMenu {
  float: right;
  padding: 24px 17px 22px 20px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .mainNav .showMobileMenu {
    display: none;
  }
}

.mainNav .showMobileMenu span {
  display: block;
  margin: 0 0 4px;
  width: 28px;
  height: 4px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  background-color: #fff;
}

.mainNav .closeBtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 8px;
  margin: 18px 10px 10px 16px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: 2px solid white;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

@media screen and (min-width: 800px) {
  .mainNav .closeBtn {
    display: none;
  }
}

.mainNav .mobileLogo {
  margin: 50px auto 20px;
  width: 100px;
  height: 100px;
  background-image: url("../img/Refundable_Logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

@media screen and (min-width: 800px) {
  .mainNav .mobileLogo {
    display: none;
  }
}

.mainNav .navList {
  display: none;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

@media screen and (min-width: 800px) {
  .mainNav .navList {
    position: relative;
    display: inline;
    float: right;
    width: auto;
    height: auto;
    background: none;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  .mainNav li {
    padding: 0 0 25px;
    float: left;
  }
}

.mainNav a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "robotoregular";
}

@media screen and (min-width: 800px) {
  .mainNav a {
    padding: 21px 0 0;
    margin: 0 28px;
  }
}

@media screen and (min-width: 800px) {
  .mainNav a.selected {
    border-bottom: 1px solid #f9b808;
  }
}

.heroHeading {
  text-align: center;
  padding: 100px 0 40px 0;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .heroHeading {
    padding: 260px 0 40px 0;
  }
}

.heroHeading__bckgImg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
       background-size: cover;
}

.heroHeading__bckgImg--home {
  background-image: url("../img/header-home.jpg");
}

.heroHeading__bckgImg--benefits {
  background-image: url("../img/header-benefits.jpg");
}

.heroHeading__bckgImg--scheme-summary {
  background-image: url("../img/header-scheme-summary.jpg");
}

.heroHeading__bckgImg--information {
  background-image: url("../img/header-information.jpg");
}

.heroHeading__bckgImg--about-us {
  background-image: url("../img/header-about.jpg");
}

.heroHeading__bckgImg--contact {
  background-image: url("../img/header-contact.jpg");
}

.heroHeading__bckgImg--faq {
  background-image: url("../img/header-faq.jpg");
}

.heroHeading p {
  margin: 0 0 7px;
  font-family: "robotobold";
  text-transform: uppercase;
  font-style: italic;
}

@media screen and (min-width: 800px) {
  .heroHeading p {
    margin: 0 0 17px;
  }
}

.heroHeading .heading--one {
  padding: 0 10px;
}

@media screen and (min-width: 800px) {
  .heroHeading .heading--one {
    padding: 0 100px;
  }
}

.heroHeading__bckgImg:before {
  background: -moz-linear-gradient(top, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(37%, transparent), to(rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.bodyCopy {
  padding: 30px 0;
}

@media screen and (min-width: 800px) {
  .bodyCopy {
    padding: 50px 0;
  }
}

.formContainer .formFieldStyling {
  margin: 0 7px 17px 0;
  padding: 15px;
  width: 100%;
  border: 1px solid #6a7c92;
  font-family: "robotoregular";
  line-height: 1.7em;
  color: #31475e;
}

.formContainer select.formFieldStyling {
  padding: 18px 15px;
}

.formContainer textarea::-webkit-input-placeholder {
  font-style: italic;
}

.formContainer input[type=number]::-webkit-inner-spin-button,
.formContainer input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formContainer .submit {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #939393;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  font-family: "robotomedium";
}

@media screen and (min-width: 800px) {
  .formContainer {
    margin: auto;
    width: 80%;
  }
  .formContainer .title {
    width: 15%;
  }
  .formContainer .name {
    width: 75%;
  }
  .formContainer .tel {
    width: 30%;
  }
  .formContainer .email {
    width: 60%;
  }
  .formContainer .msg {
    width: 91.35%;
    margin-bottom: 60px;
  }
  .formContainer .submit {
    position: absolute;
    right: 0;
    bottom: 10px;
    margin-right: 8%;
  }
}

@media screen and (max-width: 800px) {
  .lead-with-accordion {
    padding-top: 10px;
  }
}

.accordion-item .title {
  margin: 20px 0;
  padding: 8px 45px 8px 0;
  font-size: 18px;
  line-height: 22px;
  font-family: "robotomedium";
  color: #31475e;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid #31475e;
}

@media screen and (min-width: 800px) {
  .accordion-item .title {
    font-size: 22px;
  }
}

.accordion-item .title:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #6a7c92;
  content: "+";
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.accordion-item .content {
  display: none;
}

.accordion-item:first-of-type .content {
  display: block;
}

.accordion-item.active .title:after {
  content: "-";
  line-height: 28px;
}

.icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
       background-size: cover;
}

@media screen and (min-width: 800px) {
  .icon {
    width: 90px;
    height: 90px;
    margin: 20px auto 30px;
  }
}

.icon.icon-handShake {
  background-image: url("../img/icon-handShake.svg");
}

.icon.icon-certificate {
  background-image: url("../img/icon-certificate.svg");
}

.icon.icon-money {
  background-image: url("../img/icon-money.svg");
}

.btn {
  display: inline-block;
  margin: 30px 0;
  padding: 3px 12px;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  background-color: #f9b808;
}

.flexparent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 0;
}

@media screen and (min-width: 800px) {
  .flexparent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.whyChooseBox {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  padding: 20px;
  color: #fff;
  background-color: #f9b808;
}

@media screen and (min-width: 800px) {
  .whyChooseBox {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 33px 35px 23px;
    width: 53.5%;
  }
}

.whyChooseBox .heading--two {
  color: #fff;
  text-align: left;
}

.whyChooseBox .heading--two:after {
  background-color: #fff;
}

.whyChooseBox p {
  position: relative;
  margin: 12px 0;
  padding: 0 0 0 43px;
  color: #000;
  font-size: 18px;
  font-family: "robotomedium";
}

.whyChooseBox p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  border: 2px solid #fff;
}

@media screen and (min-width: 800px) {
  .whyChooseBox p {
    font-size: 21px;
  }
}

.contactImgBox {
  margin: 0;
  padding: 30px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
       background-size: cover;
  background-image: url("../img/contactImgBox.jpg");
}

@media screen and (min-width: 800px) {
  .contactImgBox {
    width: 46.5%;
  }
}

.footer {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .footer {
    text-align: left;
  }
}

.footer .heading--two {
  color: #fff;
  text-align: center;
}

.footer span.break {
  display: block;
}

@media screen and (min-width: 800px) {
  .footer span.break {
    display: inline;
  }
}

.footer p {
  margin: 0 0 10px;
}

.footer a {
  color: #fff;
}

.footer .top {
  padding: 35px 15px 15px;
  background-color: #6a7c92;
}

.footer .top::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 800px) {
  .footer .top {
    padding: 50px;
  }
}

.footer .top .mainColumn {
  padding: 0;
}

@media screen and (min-width: 800px) {
  .footer .top .mainColumn {
    padding: 0 70px;
  }
}

.footer .top .col:last-of-type {
  margin: 30px 0;
}

@media screen and (min-width: 800px) {
  .footer .top .col {
    float: left;
    width: 50%;
  }
  .footer .top .col:last-of-type {
    margin: 0;
  }
}

.footer .bottom {
  padding: 30px;
  background-color: #939393;
}
