


//  This stylesheet contains the remainder of the
//  styles after the critical css has been seperated.



@import "bourbon/_bourbon.scss";
@import "neat/_neat.scss";

@import "_breakpoints.scss";
@import "_settings.scss";

@import "_reset.scss";
@import "_fonts.scss";



.outlineHelper * { outline: 1px dotted rgba(186, 119, 119, 0.2); }



html {
	background-color: $white;
	color: $blue;
	font-family: $font-body;
}

body {
	line-height: 1.7em;
	width: 100%;
	height: 100%;
	word-break: break-word;
}



.noScroll {
	overflow: hidden;
}



.headerColumn
{
	@include media($md) {
		width: 1000px;
		margin: auto;
	}
}
.mainColumn
{
	padding: 0 14px;

	@include media($md) {
		width: 970px;
		margin: auto;
		padding: 0 15px;
	}
}


p
{
	margin: 0 0 25px;
	font-size: 14.5px;
	line-height: 1.7em;

}

a
{
	color: $blue-dark;
	font-family: $font-body-bold;

	&[href^="tel"] {
		text-decoration: none;
	}
}



.heading
{
	&--one
	{
		font-size: 24px;
    	line-height: 28px;
		text-align: center;
		text-transform: uppercase;

		@include media($md){
			font-size: 38px;
			line-height: 48px;
			padding: 0 40px;
		}

		span
		{
			font-family: $font-body-bold;
			color: $yellow;

			&:after
			{
				content: " ";
				position: absolute;
				left: 0;
    			bottom: 1px;
				width: 100%;
				height: 2px;
				background-color: $yellow;

				@include media($md){
					height: 4px;
					bottom: 0;
				}
			}
		}
	}

	&--two
	{
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin: 0 0 20px;
		font-weight: bold;
		font-size: 23px;
		text-align: left;
		text-transform: uppercase;
		color: $yellow;

		@include media($md){
			margin: 0 0 30px;
			text-align: center;
			font-size: 23px;
		}

		&:after {
			content: " ";
			position: absolute;
			left: 0;
			bottom: -4px;
			width: 100%;
			height: 2px;
			background-color: $yellow;

			@include media($md){
				bottom: -5px;
				height: 3px;
			}
		}

	}

	&--three,
	&--three .anchorDestination
	{
		margin: 0 0 5px;
		font-family: $font-header;
		font-size: 16px;
		line-height: 1.7em;
		text-transform: uppercase;
		color: $blue-dark;

		@include media($md) {
			font-size: 20px;
			line-height: 1.5em;
		}
	}
}

.para
{
	&--large
	{
		font-family: $font-header;
		font-size: 16px;
		line-height: 1.7em;
		color: $blue;

		@include media($md) {
			font-family: $font-header-light;
			font-size: 21px;
			line-height: 1.6em;
		}
	}

	&--largeQuote
	{
		margin: 60px 0;
		font-size: 20px;
		line-height: 25px;
		color: $blue-dark;

		@include media($md) {
			margin: 56px 0 62px;
			font-size: 32px;
			line-height: 40px;
		}

		&:before,
		&:after
		{
			content: '"';
			display: inline-block;
			font-size: 55px;
			color: $yellow;
			line-height: 0;
			top: 17px;
			position: relative;

			@include media($md) {
				font-size: 55px;
			}
		}

		&:before
		{
			@include media($upto-md) {
				position: absolute;
				top: -5px;
				left: 50%;
				transform: translateX(-50%);
				font-size: 85px;
			}
			left: -3px;
		}

		&:after
		{
			@include media($upto-md) {
				display: none;
			}
			left: 2px;
		}
	}

	&--medium
	{
		font-family: $font-header;
		font-size: 16px;
		line-height: 1.7em;
		color: $blue-dark;

		@include media($md) {
			font-size: 17px;
			line-height: 1.5em;
		}
	}

	&--border
	{
		margin-bottom: 40px;
		padding: 30px 40px;
		border: 1px solid $blue-dark;
	}
}

.text
{
	&--phone {
		font-size: 32px;
		font-family: $font-body-bold;
		color: $white;
	}

	&--email {
		font-size: 16px;
		font-family: $font-body-bold;
		color: $white;
		text-decoration: none;

		@include media($md){
			font-size: 19px;
		}
	}
}



.smallPara
{
	p {
		font-size: 12px;
	}
	a {
		font-size: 12px;
	}
}


.text-center {
	text-align: center;
}

.bulletList
{
	margin: 0 0 20px 27px;
	list-style-type: disc;

	@include media($md){
		margin: 0 0 20px 40px;
	}

	&.unindented
	{
		margin-left: 16px;
		color: $blue-dark;

		li {
			font-size: 14px;
		}
	}
}

li
{
	padding: 0 0 10px 3px;
	font-size: 14px;
	line-height: 1.8em;

	@include media($md){
		font-size: 16px;
		line-height: 1.6em;
	}
}



.anchorList
{
	margin: 0 0 15px;

	a {
		display: block;
	}

	@include media($md)
	{
		a {
			width: 49%;
			display: inline-block;
		}
	}

}



.colWrapper {
	overflow: auto;
}


.col2
{
	margin: 0 0 20px;

	@include media($md){
		float: left;
		width: 50%;
	}
}
.col3
{
	margin: 0 0 20px;

	@include media($md){
		float: left;
		width: 33.3%;
	}
}

.outline
{
	@include media($md){
		padding: 20px;
		border: 1px solid $blue;
		border-radius: 3px;
	}
}




.columnBoxs
{
	display: block;

	@include media($md){
		display: flex;
	}

	.col3
	{
		@include media($md)
		{
			margin: 0;
			padding: 20px;
			border: 1px solid $blue;
			border-radius: 3px;

			&:nth-child(2) {
				margin: 0 20px;
			}
		}
	}

	.heading--three
	{
		@include media($md)
		{
			margin: 0 0 15px;
		}
	}

	&.infoBoxs
	{
		.col3 {
			padding: 20px;
			border: 1px solid $blue;
			border-radius: 3px;
		}
		.heading--three
		{
			text-transform: none;
		}
	}

	p.heading-three {
		margin: 0;
		font-family: $font-header;
		font-size: 20px;
	}
}



.spacer {
	display: block;
	height: 60px;
}


.yellowBckgrnd {
	background-color: $yellow;
}
.yellowTxt {
	color: $yellow;
}
.darkBlueTxt {
	color: $blue-dark;
}



hr
{
	margin: 30px 0;
}


.clearfix {
	@include clearfix;
}



.ForbesLogo
{
	background-image: url('../img/Refundable_Logo.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}


.mainNav
{
	@include clearfix;

	background-color: $black;

	.ForbesLogo {
		display: block;
		float: left;
		margin: 0 0 0 14px;
		width: 123px;
		height: 70px;
		text-indent: -999999px;

		@include media($md) {
			margin: 12px 0 0 28px;
			width: 170px;
			height: 44px;
		}
	}

	.showMobileMenu
	{
		float: right;
		padding: 24px 17px 22px 20px;
		cursor: pointer;

		@include media($md) {
			display: none;
		}

		span {
			display: block;
			margin: 0 0 4px;
			width: 28px;
			height: 4px;
			border-radius: 50px;
			background-color: $white;
		}
	}

	.closeBtn
	{
		position: absolute;
		top: 0;
		left: 0;
		padding: 0px 8px;
		margin: 18px 10px 10px 16px;
		font-size: 18px;
		color: #fff;
		cursor: pointer;
		border: 2px solid white;
		border-radius: 100%;

		@include media($md) {
			display: none;
		}
	}

	.mobileLogo
	{
		margin: 50px auto 20px;
		width: 100px;
		height: 100px;
		background-image: url('../img/Refundable_Logo.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		@include media($md) {
			display: none;
		}
	}

	.navList
	{
		display: none;
		position: absolute;
		z-index: 10;
		height: 100vh;
		width: 100%;
		background-color: rgba(0,0,0,0.9);
		text-align: center;

		@include media($md) {
			position: relative;
			display: inline;
			float: right;
			width: auto;
			height: auto;
			background: none;
			text-align: left;
		}
	}

	li
	{
		@include media($md) {
			padding: 0 0 23px;
			float: left;
		}
	}

	a
	{
		display: block;
		padding: 8px 10px;
		text-decoration: none;
		color: $white;
		font-size: 14px;
		font-family: $font-body;

		@include media($md) {
			padding: 21px 0 0;
			margin: 0 28px;
		}

		&.selected
		{
			@include media($md) {
				border-bottom: 1px solid $yellow;
			}
		}
	}
}



.heroHeading
{
	text-align: center;
	padding: 100px 0 40px 0;
	color: $white;

	@include media($md) {
		padding: 260px 0 40px 0;
	}

	&__bckgImg
	{
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&--home 		  { background-image: url('../img/header-home.jpg'); }
		&--benefits 	  { background-image: url('../img/header-benefits.jpg'); }
		&--scheme-summary { background-image: url('../img/header-scheme-summary.jpg'); }
		&--information 	  { background-image: url('../img/header-information.jpg'); }
		&--about-us 	  { background-image: url('../img/header-about.jpg'); }
		&--contact 		  { background-image: url('../img/header-contact.jpg'); }
		&--faq 			  { background-image: url('../img/header-faq.jpg'); }
	}

	p
	{
		margin: 0 0 7px;
		font-family: $font-header;
		text-transform: uppercase;
		font-style: italic;

		@include media($md) {
			margin: 0 0 17px;
		}
	}

	.heading--one
	{
		padding: 0 10px;

		@include media($md) {
			padding: 0 100px;
		}
	}


	&.heroHeading-style2
	{
		padding: 0;

		@include media($md) {
			text-align: left;
		}

		.heroHeading__bckgImg
		{
			z-index: 0;

			@include media($upto-md) {
				position: relative;
				height: 150px;
			}

			@include media($md) {
				left: 50%;
				padding-right: 90px;
			}

			&--about-us 	  { background-position: left center; }
		}

		@include media($upto-md) {
			.spacer { display: none; }
		}

		.flexparent {
			margin: 0;
		}

		.col2 {
			padding: 20px 20px 30px;
			margin: 0;

			@include media($md) {
				padding: 100px 40px 75px;
			}
		}

		.heading--one
		{
			padding: 0;

			@include media($md) {
				text-align: left;
			}

			span {
				color: $white;

				&:after {
					background-color: $white;
				}
			}
		}

		p {
			margin: 10px 0;
			color: $black;
			font-style: normal;
			font-family: $font-body;
			font-size: 18px;
			line-height: 24px;
			text-transform: none;

			span
			{
				font-family: $font-header;
			}

			@include media($md) {
				margin: 15px 0;
				padding-right: 90px;
				font-size: 24px;
				line-height: 32px;
			}
		}

		.btn
		{
			margin: 0;
			border: 1px solid $white;
		}
	}

}



.heroHeading__bckgImg:before {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}



.bodyCopy
{
	padding: 30px 0 20px;

	@include media($md) {
		padding: 50px 0;
	}
}



.formContainer
{
	.formFieldStyling {
		margin: 0 7px 17px 0;
		padding: 12px 15px;
		width: 100%;
		border: 1px solid $blue;
		font-family: $font-body;
		line-height: 1.7em;
		color: $blue-dark;
	}
	select.formFieldStyling {
		padding: 15px 15px;
	}
	textarea::-webkit-input-placeholder {
		font-style: italic;
	}
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.submit {
		display: block;
		margin: 20px auto;
		padding: 8px 15px;
		color: #fff;
		text-decoration: none;
		border-radius: 20px;
		border: none;
		background-color: $yellow;
		font-family: $font-body-bold;
	}
	@include media($md)
	{
		margin: auto;

		.title 	{ width: 25%; }
		.name 	{ width: 65%; }
		.tel 	{ width: 30%; }
		.email 	{ width: 60%; }
		.msg 	{ width: 92.35%; }
		.submit {
		}
	}
}


.lead-with-accordion
{
	@include media($upto-md)
	{
		padding-top: 10px;
	}
}

.accordion-item
{
	.title
	{
		margin: 20px 0;
		padding: 8px 45px 8px 0;
		font-size: 18px;
		line-height: 22px;
		font-family: $font-body-bold;
		color: $blue-dark;
		text-transform: uppercase;
		cursor: pointer;
		border-bottom: 1px solid $blue-dark;

		@include media($md)
		{
			font-size: 22px;
		}

		&:after {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			background-color: $blue;
			content: "+";
			color: $white;
			font-size: 32px;
			line-height: 32px;
			text-align: center;
		}
	}

	.content {
		display: none;
	}

	&:first-of-type .content {
		display: block;
	}

	&.active
	{
		.title:after {
			content: "-";
			line-height: 28px;
		}
	}
}


.icon
{
	width: 70px;
	height: 70px;
	margin: 0 auto 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	@include media($md)
	{
		width: 90px;
		height: 90px;
		margin: 20px auto 30px;
	}

	&.icon-handShake 	{ background-image: url('../img/icon-handShake.svg'	  ); }
	&.icon-certificate 	{ background-image: url('../img/icon-certificate.svg' ); }
	&.icon-money 		{ background-image: url('../img/icon-money.svg'		  ); }
}


.btn
{
	display: inline-block;
	margin: 30px 0;
	padding: 3px 12px;
	color: $white;
	text-decoration: none;
	border-radius: 20px;
	background-color: $yellow;
}


.flexparent
{
	display: flex;
	flex-direction: column;
	margin: 30px 0 0;

	@include media($md)
	{
		flex-direction: row;
	}
}

.whyChooseBox
{
	order: 1;
	margin: 0;
	padding: 20px;
	color: $white;
	background-color: $yellow;

	@include media($md)
	{
		order: 0;
		padding: 33px 35px 23px;
		width: 53.5%;
	}

	.heading--two
	{
		left: 50%;
		transform: translateX(-50%);
		color: $white;

		&:after {
			background-color: $white;
		}

		@include media($md)
		{
			left: auto;
			transform: none;
			display: inline-block;
			text-align: left;
		}
	}

	p
	{
		position: relative;
		margin: 12px 0;
		padding: 0 0 0 43px;
		color: $black;
		font-size: 15px;
		font-family: $font-body-bold;

		@include media($md)
		{
			font-size: 21px;
		}

		&:before {
			content: "";
			position: absolute;
			left: 2px;
			top: -1px;
			width: 25px;
			height: 25px;
			border-radius: 100%;
			border: 2px solid $white;
		}

		@include media($md)
		{
			&:before {
				left: 0;
				top: 3px;
				width: 28px;
				height: 28px;
			}
		}
	}
}

.contactImgBox
{
	margin: 0;
	padding: 30px 30px 25px;
	color: $white;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('../img/contactImgBox.jpg');

	@include media($md)
	{
		width: 46.5%;
		padding: 30px;
	}

	.heading--one
	{
		margin: 70px 0 0;
		font-size: 23px;
		line-height: 24px;

		@include media($md)
		{
			position: absolute;
			bottom: 47px;
			margin: 0;
			padding: 0 57px;
			font-size: 30px;
			line-height: 1.3em;
		}

		span:after { display: none; }
	}
}


.footer
{
	color: $white;
	text-align: center;

	@include media($md) {
		text-align: left;
	}

	.heading--two {
		color: $white;
		text-align: center;
	}

	span.break
	{
		display: block;

		@include media($md) {
			display: inline;
		}
	}

	p {
		margin: 0 0 10px;
	}

	a {
		color: $white;
	}

	$footerHorizPadding: 70px;

	.top
	{
		@include clearfix;
		padding: 35px 15px 15px;
		background-color: $blue;

		@include media($md) {
			padding: 50px;
		}

		.mainColumn {
			padding: 0;

			@include media($md) {
				padding: 0 $footerHorizPadding;
			}
		}

		.col
		{
			&:last-of-type {
				margin: 30px 0;
			}
			@include media($md) {
				float: left;
				width: 50%;

				&:last-of-type {
					margin: 0;
				}
			}
		}
	}

	.bottom
	{
		padding: 30px;
		background-color: $grey;

		// .mainColumn
		// {
		// 	padding: 0;

		// 	@include media($md) {
		// 		padding: 0 $footerHorizPadding;
		// 	}
		// }
	}

	hr {
		// @include media($md) {
		// 	margin-left: -$footerHorizPadding;
		// 	margin-right: -$footerHorizPadding;
		// }
	}
}




